.image-shadow {
    box-shadow: 10px 33px 274px 9px rgba(255, 255, 255, 0.46);
    -webkit-box-shadow: 10px 33px 274px 9px rgba(255, 255, 255, 0.46);
    -moz-box-shadow: 10px 33px 274px 9px rgba(255, 255, 255, 0.46);
}

.image-shadow-2 {
    filter: drop-shadow(0 0 15px #454545);
}

.image-shadow-3{
    filter: drop-shadow(0 0 15px #808080);
}