/* Fonts */

@font-face {
  font-family: 'YourFontName';
  /* A name to use later */
  src: url('/assets/css/Fonts/apercu_regular_pro.otf') format('opentype');
  /* URL to font file */
  font-weight: normal;
  /* Define the font-weight if necessary */
  font-style: normal;
  /* Define the font-style if necessary */
}


:root {
  --font-default: 'Apercu Pro', sans-serif;
  --font-primary: "Apercu Pro", sans-serif;
  --font-secondary: "Apercu Pro", sans-serif;
}

/* Colors */
:root {
  --color-default: #3D0A74;
  --color-primary: #8039DF;
  --color-secondary: #F5EDFF;
  --color-back: #222222;
  --color-gray-1: #D7D7D7;
  --color-gray-2: #F1F1F1;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

.separator {
  height: 50px;
}

.icons {
  cursor: pointer;
  font-size: 50px;
}

/* header starts */

.header-container {
  background-color: var(--color-secondary);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.mobile-header {
  display: none;
}

.header-sub-container {
  display: flex;
  width: 50%;
}

.logo-container {
  display: flex;
  cursor: pointer;
}

.logo-container img {
  width: 50px;
  height: 45px;
}

.logo-container p {
  margin-top: 10px;
  color: var(--color-default);
  font-weight: 600;
  margin-left: 10px;
}

.header-text-container {
  display: flex;
  margin-top: 10px;
  text-decoration: none;
}

.header-text-container a {
  text-decoration: none;
  color: var(--color-default);
}

.header-text-container li {
  list-style-type: none;
  margin-left: 30px;
  font-weight: 500;
  color: var(--color-default);
  cursor: pointer;
}

.header-text-container li :hover {
  color: var(--color-primary);
}

.header-button-container {
  margin-top: 10px;
}

.button-outlined {
  border: none;
  padding: 0px;
  background-color: transparent;
  padding: 3px 15px;
  border: 1.5px var(--color-primary) solid;
  border-radius: 6px;
  color: var(--color-primary);
  cursor: pointer;
}

.button-contained {
  border: none;
  padding: 0px;
  background-color: var(--color-primary);
  padding: 3px 15px;
  border: 1.5px var(--color-primary) solid;
  border-radius: 6px;
  color: var(--color-gray-2);
  cursor: pointer;
}

.mobile-button{
  width: 100%;
  margin-top: 10px;
}

/* header ends */


/* hero starts */

.hero-container {
  display: flex;
  /* background-color: var(--color-default); */
  color: var(--color-default);
  padding: 10px 20px;
  justify-content: space-between;
  text-align: center;
}

.hero-container .left-container {
  width: 40%;
  margin: auto;
}

.hero-container .left-container h1 {
  font-weight: 600;
}

.hero-container .left-container li {
  color: var(--color-primary);
}

.hero-container .right-container {
  width: 50%;
}

.hero-container .right-container img {
  width: 100%;
}


@media only screen and (max-width: 900px) {

  .header-container {
    display: none;
  }

  .mobile-header {
    display: flex;
    background-color: var(--color-secondary);
    justify-content: space-between;
    padding: 5px 10px;
  }

  .mobile-header i {
    color: var(--color-primary);
  }

  .header-text-container-mobile li a {
    text-decoration: none;
    color: var(--color-primary);
  }

  .header-text-container-mobile li {
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .hero-container {
    display: block;
  }

  .hero-container .left-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .hero-container .right-container {
    width: 100%;
    margin: auto;
    text-align: center;
  }

}

/* hero ends */

/* testimonial starts */

.testimonial-main-container {
  color: var(--color-primary);
  text-align: center;
}

.testimonial-main-container h2{
  color: var(--color-default);
}

.testimonial-sub-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.testimonial {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  background-color: var(--color-secondary);
}

.testimonial img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
}

.testimonial-text {
  font-style: italic;
  color: #555;
}

@media only screen and (max-width: 900px) {

  .testimonial-sub-container {
    width: 100%;
  }
}

/* testimonial ends */


/* single feature */

.single-feature-container {
  text-align: center;
  color: var(--color-default);
  background-color: var(--color-secondary);
  padding: 20px;
}

.single-feature-container img {
  width: 50%;
}

.how-it-works-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.how-it-works-container .number{
  border-radius: 50%;
  /* border: 1px var(--color-gray-1) solid; */
  width: 50%;
  height: 50%;
  text-align: center;
  position: relative;
  bottom: 30%;
  left: 70px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.number h1{
  /* margin-top: 40px; */
  padding: 35px;
}

.working-block {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

/* single feature */

/* left feature */

.dual-feature-container {
  display: flex;
  padding: 20px 30px;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  color: var(--color-default);
}

.dual-feature-container .left {
  width: 42%;
  /* margin-top: 40px; */
  margin: auto;
}

.dual-feature-container .right {
  background-color: var(--color-secondary);
  border-radius: 6px;
  width: 49%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dual-feature-container .right img {
  width: 100%;
}

@media only screen and (max-width: 900px) {

  .dual-feature-container {
    display: block;
    padding: 10px;
  }

  .dual-feature-container .left {
    width: 100%;
  }

  .dual-feature-container .right {
    width: 100%;
  }

}

/* left feature */

/* brand container */

.brands-container {
  color: var(--color-default);
  text-align: center;
}

.brand-container-icons {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.brand-container-icons img{
  width: 200px;
}

.single-brand-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

/* brand container */


/* cta container */

.main-cta-container {
  width: 80%;
  background-color: var(--color-secondary);
  padding: 30px;
  margin: auto;
  border-radius: 6px;
  color: var(--color-default);
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-sub-container {
  width: 60%;
  padding: 20px;
}

.cta-sub-container p {
  width: 80%;
}

.cta-sub-container-2 {
  width: 40%;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 900px) {

  .main-cta-container {
    display: block;
  }

  .cta-sub-container {
    width: 100%;
  }

  .cta-sub-container-2 {
    width: 100%;
  }

}

/* cta container */

/* footer */

.footer {
  font-size: 14px;
  background-color: var(--color-default);
  padding: 50px 0;
  color: white;
}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: var(--font-primary);
}

.footer .footer-info p {
  font-size: 14px;
  font-family: var(--font-primary);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(13, 66, 255, 0.8);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  /* color: rgba(255, 255, 255, 0.6); */
  color: rgba(255, 255, 255, 0.778);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}

/* footer */

/* product section */

.product-section-container {
  text-align: center;
  color: var(--color-default);
  padding: 20px;
  margin: 10px;
}

.product-section-container h1{
  width: 50%;
  margin: auto;
}

.product-block {
  height: 300px;
  background-color: var(--color-secondary);
  border-radius: 6px;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  min-width: 250px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {

  .product-section-container h1{
    width: 80%;
    margin: auto;
  }

}

/* product section */


/* pricing */

.pricing-hero {
  padding: 20px;
  text-align: center;
}

.pricing-hero h2 {
  color: var(--color-default);
}

.pricing-hero h6 {
  color: var(--color-primary);
}

.early-bird-chip {
  border-radius: 6px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  width: fit-content;
  padding: 2px 10px;
  margin: auto;
}

.pricing-table-container {
  margin: 20px;
  padding: 20px;
  overflow-x: scroll;
}

.pricing-table-container thead tr th {
  background-color: var(--color-secondary);
  color: var(--color-default);
  /* border-radius: 6px; */
}

.pricing-table-container thead tr th p {
  font-size: larger;
}

.pricing-table-container tbody tr td {
  padding: 20px;
}

.pricing-table-container tbody tr th {
  padding: 20px;
  color: var(--color-primary);
}

@media only screen and (max-width: 900px) {

  .pricing-table-container {
    margin: 5px;
    padding: 0px;
  }

}

/* pricing */

/* faq */

.faq-container {
  color: var(--color-default);
  text-align: center;
}

.single-faq-container {
  border: 1px var(--color-secondary) solid;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: start;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: start;
  transition: 1ms;
}

.single-faq-container p {
  margin-top: 10px;
}

.add-clickable {
  background-color: var(--color-primary);
  padding: 10px 15px;
  color: var(--color-gray-1);
  /* margin: auto; */
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  max-height: 50px;
}

@media only screen and (max-width: 900px) {

  .single-faq-container {
    width: 95%;
  }

}

/* faq */

/* contact form */

.form-container {
  width: 50%;
  margin: auto;
  background-color: var(--color-secondary);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-input {
  background-color: var(--color-secondary);
  border: 1.5px var(--color-gray-1) solid;
}

@media only screen and (max-width: 900px) {

  .form-container {
    width: 95%;
  }

}

/* contact form */


/* misc */

.static-text-container{
  margin: 30px;
  padding: 20px;
  background-color: var(--color-secondary);
  border-radius: 6px;
}

.static-text-container h1{
  color: var(--color-default);
  text-align: center;
}

.static-text-container h2{
  color: var(--color-primary);
}

.strap-container{
  background-color: var(--color-secondary);
  text-align: center;
  padding: 40px;
  color: var(--color-default);
}

/* stats */

.stats-container{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  text-align: center;
}

.product-icon-font{
  font-size: 150px;
}

/* stats */


/* contact us */

.zf-templateWidth{
  width: 50%;
  margin: auto;
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-default);
}

.zf-templateWidth ul{
  list-style-type: none;
}

.zf-labelName{
  font-size: 10px;
  color: var(--color-back);
}

@media only screen and (max-width: 900px) {
  .zf-templateWidth{
    width: 90%;
  }
}

/* contact us */


/* guide flow */
.guide-flow-container{
  padding: 20px 40px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-gray-2);
  border-radius: 6px;
}

.guide-flow-container h1{
  color: var(--color-default);
  text-align: center;
  margin-bottom: 10px;
}
/* guide flow */

@media only screen and (max-width: 900px) {

  .guide-flow-container{
    padding: 10px 5px;
  }

}